@charset "UTF-8";

.main {
    transition: 0.5s;
    width: 1000px;
    height: 100px;
    background-color: #DEDEDE;
    text-align: center;
    margin: 100px auto 100px;
    p {
        color: #0086D9;
        padding-top: 250px;
        cursor: pointer;
        margin: 10px 0;
    }
    a {
        color: #0086D9;
    }
    &:hover {
        background-color: #0086D9;
        color: #00629D;
        p, a {
            transition: 0.3s;
            color: #DEDEDE;
            padding-top: 240px;
            margin-bottom: 10px;
        }
    }
}
