@charset "UTF-8";

.main {
    transition: 0.5s;
    width: 1000px;
    height: 500px;
    background-color: #DEDEDE;
    text-align: center;
    margin: 100px auto 0;
    p {
        color: #0086D9;
        padding-top: 250px;
    }
    a {
        color: #0086D9;
    }
    &:hover {
        background-color: #0086D9;
        color: #00629D;
        p, a {
            color: #DEDEDE;
        }
    }
}

.svg {
    width: 1000px;
    height: 500px;
    margin: 0 auto 500px;
    border: 1px solid #0086D9;
    background-color: #666666;
    span {
        width: 100px;
    }
}

.svgspan {
    display: block;
    width: 200px;
}

.blue {
    fill: #0086D9;
}
