@charset "UTF-8";

.main {
    transition: 0.5s;
    width: 1000px;
    height: 500px;
    background-color: #DEDEDE;
    text-align: center;
    margin: 250px auto;
    p {
        color: #0086D9;
        padding-top: 250px;
    }
    &:hover {
        background-color: #0086D9;
        p {
            color: #DEDEDE;
        }
    }
}
