header
	div.head
		a.h-logo
			img.h-logoImg(src="#")
		div.h-navi
			a.h-navi__link お問い合わせ
			a.h-navi__link プライバシー
	ul.g-navi
		li.g-navi__list
			a.g-navi__link(href="/") home
		li.g-navi__list
			a.g-navi__link(href="/") home
		li.g-navi__list
			a.g-navi__link(href="/") home
		li.g-navi__list
			a.g-navi__link(href="/svg/") svg
		li.g-navi__list
			a.g-navi__link(href="/") home
